<% if current_user.nil? %>
    <div class="container">
        <%= link_to new_user_session_path, class: 'login-button' do %>Sign in<% end %>
    </div>
<% else %>
	<%= link_to dashboard_index_path, class: 'login-button' do %>Go to App<% end %>
	<%= link_to destroy_user_session_path, method: :delete do %>Log out<% end %>
<% end %>
